@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  tr th {
    @apply p-8;
  }
  tr td {
    @apply p-8;
  }
}
.cursor{
    pointer-events: none; 
  }
  
  .cursor2{
    pointer-events: none;
  }
  
  .content:hover ~ .cursor{
    transform: translate(-50%, -50%) scale(1.2);
    background-color: #c6c6c6;
    border: 1px solid #e90a0a;
    opacity: .5;
  }
  
  .content:hover ~ .cursor2{
    opacity: 0.5;
    background-color: #e90a0a;
  
  }
  
  .active{
    @apply text-teal-500
  }