@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  tr th {
    @apply p-8;
  }
  tr td {
    @apply p-8;
  }
}
.cursor{
    position: fixed;
    width: 40px;
    height: 40px;
    border: 1px solid #0ae9cf;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .1s;
    z-index: 100;
  }
  
  .cursor2{
    position: fixed;
    width: 8px;
    height: 8px;
    background-color: #0ae9cf;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .2s;
    z-index: 100;
  }
  
  .content:hover ~ .cursor{
    transform: translate(-50%, -50%) scale(1.2);
    background-color: #c6c6c6;
    border: 1px solid #e90a0a;
    opacity: .5;
  }
  
  .content:hover ~ .cursor2{
    opacity: 0.5;
    background-color: #e90a0a;
  
  }
  
  .active{
    @apply text-teal-500
  }